@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;}
.section5{
    margin-top: 160px;
    margin-bottom: 160px;
    display: flex;
    font-family: "Montserrat", sans-serif;
}
.left-div{
    margin-left: auto;
    
    
}
.line3{
    width: 94px;
    height: 7px;
    background-color: red;
    justify-content: start;
}
.section-5-h6{
    margin-top: 35px;
    list-style: none;
    color: #96bb7c;
}